<div class="container text-center">
    <div class="row">
        <div class="col-8 p-3">
            <button mat-raised-button color="primary" (click)="nuevoJuego()">Nuevo Juego</button>
            <button mat-raised-button color="accent">Unirse a juego</button>
        </div>
    </div>
</div>
